:root {
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
    --White: hsl(0, 0%, 100%);;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--LightGray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}


.container {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    border-radius: 17px;
    margin: 0 1em;
}

.card-top {
    background-color: var(--White);
    padding: 40px 30px;
}

h1 {
    color: var(--Cyan);
    font-weight: 700;
}

.card-top .subtitle {
    color: var(--BrightYellow);
    font-weight: 700;
    margin: 15px 0;
}

.card-top p {
    margin: 10px 0;
    color: var(--GrayishBlue);
}

.card-bottom {
    display: flex;
}

.card-left, .card-right {
    padding: 40px;
}

.card-left {
    flex: 1;
    background: var(--Cyan);
    color: var(--White);
}

.card-left h2 {
    margin-top: 0;
    font-weight: 700;
}

.card-left .price {
    font-size: 24px;
    margin: 10px 0;
}

.card-left .price span {
    font-size: 36px;
    font-weight: 700;
}

.card-left button {
    background-color: var(--BrightYellow);
    border: none;
    border-radius: 5px;
    color: var(--White);
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.card-right {
    flex: 1;
    background: var(--Cyan);
    opacity: 80%;
    color: var(--LightGray);
}

.card-right h2 {
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 15px;
}

.card-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-right li {
    margin-bottom: 10px;
}

.attribution { 
    margin-top: 50px;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: var(--Cyan);     
}

.attribution a:hover{
        text-decoration: underline;
        color: var(--GrayishBlue);   
}

@media screen and (max-width: 1440px) {
    
    .card-bottom {
        flex-direction: row;
    }

    .card-left, .card-right {
        padding: 40px;
    }
}

@media screen and (max-width: 375px) {


    .card-bottom {
        flex-direction: column; /* Side-by-side layout for desktop */
    }

    .card-left, .card-right {
        text-align: left; /* Align text to the left for desktop */
    }
}